{% extends "@!NelmioApiDoc/SwaggerUi/index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        header,
        header:before {
            background-color: #3dc47e;
            background-image: linear-gradient(to left, #3dc47e 20%, #1ca25c 60%);
        }

        #swagger-ui.api-platform .info .title {
            color: #3b4151;
        }
    </style>
{% endblock stylesheets %}

{% block header %}
    <a id="logo" href="https://devpost.com/software/shopnextdoor">
        <svg width="300" height="91" viewBox="0 0 766 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M403.386 88.2699C356.054 89.3235 308.667 90.3783 261.131 90.9991L260.869 71.0009C307.989 70.3855 355.232 69.3349 402.527 68.2831C476.277 66.643 550.156 65 623.899 65H766V85H623.899C550.287 85 476.902 86.6335 403.386 88.2699Z" fill="#FFCD1E"/>
            <path d="M1.26953 28.957C1.46484 27.9805 1.59505 27.1992 1.66016 26.6133C1.72526 25.9622 1.4974 25.2786 0.976562 24.5625C1.23698 23.5208 1.43229 22.707 1.5625 22.1211C1.75781 21.5352 1.79036 20.7214 1.66016 19.6797C2.24609 17.987 3.125 16.5547 4.29688 15.3828C5.53385 14.2109 6.86849 13.2344 8.30078 12.4531C9.73307 11.6068 11.2305 10.9232 12.793 10.4023C14.3555 9.81641 15.8203 9.32812 17.1875 8.9375C17.1875 8.67708 17.0573 8.54688 16.7969 8.54688C16.5365 8.54688 16.4714 8.38411 16.6016 8.05859C20.1172 7.40755 23.6328 6.46354 27.1484 5.22656C30.7292 3.98958 34.375 2.88281 38.0859 1.90625C41.7969 0.929688 45.6055 0.34375 49.5117 0.148438C53.418 -0.111979 57.5195 0.376302 61.8164 1.61328C62.0768 2.39453 62.4349 3.14323 62.8906 3.85938C63.3464 4.57552 63.8021 5.29167 64.2578 6.00781C64.7786 6.65885 65.2344 7.3099 65.625 7.96094C66.0156 8.61198 66.2435 9.29557 66.3086 10.0117C67.0898 10.7279 67.7083 11.5091 68.1641 12.3555C68.6849 13.1367 68.7826 14.2109 68.457 15.5781C67.7409 16.099 66.9922 16.6198 66.2109 17.1406C65.4297 17.6615 64.6159 18.1497 63.7695 18.6055C60.8398 17.8893 57.9102 17.6289 54.9805 17.8242C52.0508 18.0195 49.4141 18.2474 47.0703 18.5078C46.3542 17.7266 45.5078 17.3685 44.5312 17.4336C43.5547 17.4336 42.513 17.5964 41.4062 17.9219C40.3646 18.1823 39.3229 18.4753 38.2812 18.8008C37.2396 19.0612 36.263 19.1263 35.3516 18.9961C34.6354 19.6471 33.6914 20.1029 32.5195 20.3633C31.3477 20.5586 30.1107 20.7214 28.8086 20.8516C28.7435 21.1771 28.8086 21.4049 29.0039 21.5352C29.1992 21.6654 29.2318 21.9258 29.1016 22.3164C29.5573 22.9023 30.1758 23.3255 30.957 23.5859C31.7383 23.7812 32.5195 23.9766 33.3008 24.1719C34.1471 24.3672 34.8958 24.6602 35.5469 25.0508C36.1979 25.3763 36.6211 25.9297 36.8164 26.7109C37.9883 26.776 38.9974 27.1016 39.8438 27.6875C40.6901 28.2083 41.4062 28.8594 41.9922 29.6406C42.5781 30.4219 43.0013 31.2682 43.2617 32.1797C43.5221 33.026 43.6198 33.8073 43.5547 34.5234C43.8151 35.1745 44.0755 35.4349 44.3359 35.3047C44.6615 35.1745 45.0195 35.3372 45.4102 35.793C45.6706 36.7695 46.2565 37.8112 47.168 38.918C48.1445 39.9596 48.8932 41.099 49.4141 42.3359C49.5443 44.2891 49.6419 46.0469 49.707 47.6094C49.8372 49.1719 49.5768 50.7018 48.9258 52.1992C47.819 55.0638 46.224 57.6354 44.1406 59.9141C42.0573 62.1927 39.681 64.2109 37.0117 65.9688C34.4076 67.6615 31.6406 69.1589 28.7109 70.4609C25.7812 71.6979 22.8841 72.7396 20.0195 73.5859C19.7591 73.5208 19.4336 73.5208 19.043 73.5859C18.7174 73.651 18.6523 73.4557 18.8477 73C18.2617 73.5208 17.5781 73.8464 16.7969 73.9766C16.0807 74.1068 15.2669 74.1393 14.3555 74.0742C13.5091 74.0742 12.6302 74.0417 11.7188 73.9766C10.8724 73.9115 10.026 73.944 9.17969 74.0742C8.65885 73.5534 8.17057 73.0326 7.71484 72.5117C7.32422 71.9909 6.9987 71.3724 6.73828 70.6562C6.41276 70.5911 6.25 70.3958 6.25 70.0703C6.3151 69.6797 6.1849 69.4844 5.85938 69.4844C5.85938 69.224 5.89193 69.0286 5.95703 68.8984C6.02214 68.7682 6.08724 68.638 6.15234 68.5078C6.41276 68.3125 6.51042 68.1823 6.44531 68.1172C6.44531 67.987 6.34766 67.8893 6.15234 67.8242C6.02214 67.694 5.85938 67.5638 5.66406 67.4336C5.53385 67.3034 5.5013 67.1406 5.56641 66.9453C5.89193 66.3594 5.98958 65.6758 5.85938 64.8945C5.79427 64.0482 5.72917 63.2018 5.66406 62.3555C5.59896 61.5091 5.66406 60.7279 5.85938 60.0117C6.05469 59.2305 6.60807 58.5794 7.51953 58.0586C10.1888 58.319 12.6953 58.1888 15.0391 57.668C17.4479 57.1471 19.694 56.431 21.7773 55.5195C23.9258 54.6081 25.944 53.6315 27.832 52.5898C29.7852 51.4831 31.6732 50.474 33.4961 49.5625C33.6914 48.9115 33.9844 48.3581 34.375 47.9023C34.8307 47.4466 35.2865 47.0234 35.7422 46.6328C36.1979 46.1771 36.6211 45.7214 37.0117 45.2656C37.4023 44.7448 37.6953 44.1263 37.8906 43.4102C37.9557 43.1497 37.9557 42.9544 37.8906 42.8242C37.8255 42.694 37.7279 42.5964 37.5977 42.5312C37.4674 42.401 37.3372 42.2708 37.207 42.1406C37.0768 42.0104 37.0117 41.8151 37.0117 41.5547C36.8164 41.4896 36.6211 41.4245 36.4258 41.3594C36.2956 41.2943 36.1654 41.2617 36.0352 41.2617C34.3424 40.4154 32.5521 39.6992 30.6641 39.1133C28.776 38.5273 27.181 37.8763 25.8789 37.1602C25.0977 37.681 24.3164 37.8112 23.5352 37.5508C22.7539 37.2904 21.8099 37.0299 20.7031 36.7695C17.9688 36.6393 15.3646 36.3789 12.8906 35.9883C10.4818 35.5977 8.13802 34.9141 5.85938 33.9375C5.72917 33.5469 5.56641 33.2214 5.37109 32.9609C5.17578 32.6354 4.72005 32.5378 4.00391 32.668C3.54818 32.0169 3.0599 31.431 2.53906 30.9102C2.08333 30.3242 1.66016 29.6732 1.26953 28.957Z" fill="black"/>
            <path d="M107.617 63.5273C107.747 65.2201 107.552 66.6198 107.031 67.7266C106.51 68.8333 105.794 69.7773 104.883 70.5586C103.971 71.3398 102.93 71.9583 101.758 72.4141C100.586 72.8698 99.4466 73.293 98.3398 73.6836C97.819 73.3581 97.2982 73.0326 96.7773 72.707C96.3216 72.3164 95.7682 72.0234 95.1172 71.8281C94.2708 70.2656 93.457 68.8984 92.6758 67.7266C91.8945 66.4896 91.5365 65.0898 91.6016 63.5273C91.6016 63.4622 91.6341 63.1042 91.6992 62.4531C91.8294 61.8021 91.9596 61.0859 92.0898 60.3047C92.2852 59.5234 92.4154 58.8073 92.4805 58.1562C92.6107 57.4401 92.6758 57.0495 92.6758 56.9844C91.1784 57.1146 89.6159 57.4401 87.9883 57.9609C86.3607 58.4818 84.7656 59.1003 83.2031 59.8164C81.7057 60.5326 80.2734 61.2487 78.9062 61.9648C77.6042 62.681 76.5299 63.2995 75.6836 63.8203C75.6836 64.0156 75.5534 64.5039 75.293 65.2852C75.0326 66.0013 74.707 66.7826 74.3164 67.6289C73.9258 68.4102 73.5026 69.1263 73.0469 69.7773C72.5911 70.4284 72.1354 70.7539 71.6797 70.7539C71.7448 70.9492 71.8424 71.1445 71.9727 71.3398C72.1029 71.5352 72.1029 71.7956 71.9727 72.1211C71.0612 72.3815 70.2474 72.707 69.5312 73.0977C68.8151 73.5534 68.0664 73.9115 67.2852 74.1719C66.5039 74.4974 65.6576 74.6602 64.7461 74.6602C63.8346 74.6602 62.7604 74.3346 61.5234 73.6836C61.5234 73.293 61.3607 72.9674 61.0352 72.707C60.7096 72.3815 60.3516 72.1211 59.9609 71.9258C59.6354 71.6654 59.3424 71.4701 59.082 71.3398C58.8216 71.1445 58.6914 70.9818 58.6914 70.8516C58.3659 70.9167 58.2357 70.6888 58.3008 70.168C58.3659 69.6471 58.6263 69.5169 59.082 69.7773C58.3659 68.8659 57.9102 68.0846 57.7148 67.4336C57.5846 66.7174 57.2266 65.8385 56.6406 64.7969C56.7708 64.6667 56.901 64.4388 57.0312 64.1133C57.0964 63.7878 57.1615 63.4948 57.2266 63.2344C57.2917 62.974 57.3893 62.7786 57.5195 62.6484C57.6497 62.5182 57.8125 62.5508 58.0078 62.7461C57.8776 62.1602 57.8776 61.6719 58.0078 61.2812C58.138 60.8906 58.2682 60.5326 58.3984 60.207C58.5286 59.8815 58.6263 59.556 58.6914 59.2305C58.7565 58.9049 58.6589 58.5469 58.3984 58.1562C59.4401 56.724 60.1237 55.194 60.4492 53.5664C60.7747 51.8737 60.9701 50.3438 61.0352 48.9766C61.4909 48.5208 61.8815 47.8698 62.207 47.0234C62.5977 46.1771 62.8906 45.3307 63.0859 44.4844C63.2812 43.5729 63.3464 42.7266 63.2812 41.9453C63.2812 41.099 63.1836 40.4154 62.9883 39.8945C63.0534 39.569 63.4115 39.4714 64.0625 39.6016C64.4531 37.4531 64.7135 35.0443 64.8438 32.375C65.0391 29.6406 65.332 27.069 65.7227 24.6602C66.1133 22.1862 66.7643 20.0378 67.6758 18.2148C68.5872 16.3268 70.0521 15.0898 72.0703 14.5039C72.4609 15.8711 72.9492 17.0755 73.5352 18.1172C74.1862 19.1589 74.8698 20.168 75.5859 21.1445C76.3672 22.056 77.1159 23 77.832 23.9766C78.6133 24.9531 79.3294 26.0599 79.9805 27.2969C79.9154 28.5339 79.7852 29.9661 79.5898 31.5938C79.3945 33.2214 79.1341 34.8815 78.8086 36.5742C78.5482 38.2669 78.2552 39.8945 77.9297 41.457C77.6693 43.0195 77.4089 44.3542 77.1484 45.4609C77.2135 45.7865 77.3763 45.9818 77.6367 46.0469C77.9622 46.112 78.0273 46.4049 77.832 46.9258C79.3945 46.5352 81.0221 46.1771 82.7148 45.8516C84.4076 45.526 86.1003 45.168 87.793 44.7773C89.4857 44.3867 91.1133 43.9635 92.6758 43.5078C94.3034 42.987 95.8008 42.3685 97.168 41.6523C97.4935 39.1133 97.9167 36.5742 98.4375 34.0352C98.9583 31.4961 99.0234 28.8919 98.6328 26.2227C98.9583 25.9622 99.2188 25.6367 99.4141 25.2461C99.6094 24.8555 99.9349 24.5951 100.391 24.4648C100.065 23.2279 99.9349 21.9258 100 20.5586C100.065 19.1914 100.293 17.8893 100.684 16.6523C101.139 15.4154 101.758 14.3737 102.539 13.5273C103.385 12.6159 104.395 12.0299 105.566 11.7695C106.283 12.8112 106.901 13.9505 107.422 15.1875C107.943 16.3594 108.464 17.5638 108.984 18.8008C109.57 19.9727 110.156 21.112 110.742 22.2188C111.393 23.2604 112.207 24.1719 113.184 24.9531C113.379 26.8411 113.509 28.7943 113.574 30.8125C113.704 32.8307 113.802 34.8815 113.867 36.9648C113.346 39.4388 112.76 41.8477 112.109 44.1914C111.523 46.4701 111.1 48.9115 110.84 51.5156C110.384 52.0365 110.026 52.6224 109.766 53.2734C109.505 53.9245 109.245 54.6081 108.984 55.3242C108.724 55.9753 108.431 56.6263 108.105 57.2773C107.78 57.8633 107.389 58.3841 106.934 58.8398C107.194 59.6211 107.227 60.3698 107.031 61.0859C106.901 61.737 107.096 62.5508 107.617 63.5273Z" fill="black"/>
            <path d="M172.754 43.7031C172.689 44.4844 172.754 45.2331 172.949 45.9492C173.145 46.6654 173.372 47.3815 173.633 48.0977C173.958 48.7487 174.251 49.4323 174.512 50.1484C174.772 50.8646 174.967 51.5807 175.098 52.2969C175.228 53.2083 175.228 54.2174 175.098 55.3242C174.967 56.3659 174.74 57.4076 174.414 58.4492C174.089 59.4258 173.665 60.3372 173.145 61.1836C172.624 61.9648 172.005 62.5508 171.289 62.9414C170.378 64.1133 169.271 65.0247 167.969 65.6758C166.667 66.3268 165.462 67.1081 164.355 68.0195C163.639 68.4753 162.826 68.8008 161.914 68.9961C161.068 69.1914 160.189 69.3867 159.277 69.582C158.561 69.9727 157.715 70.3958 156.738 70.8516C155.762 71.2422 154.753 71.6328 153.711 72.0234C152.669 72.349 151.628 72.6094 150.586 72.8047C149.544 72.9349 148.633 72.9674 147.852 72.9023C145.898 73.6185 143.978 74.0742 142.09 74.2695C140.267 74.5299 138.118 74.3997 135.645 73.8789C133.301 74.2044 131.12 74.1068 129.102 73.5859C127.148 73.0651 125.391 72.2513 123.828 71.1445C122.331 69.9727 120.996 68.6055 119.824 67.043C118.717 65.4154 117.806 63.7227 117.09 61.9648C116.569 58.2539 116.699 54.901 117.48 51.9062C118.262 48.8464 119.368 46.0469 120.801 43.5078C122.298 40.9036 123.991 38.5273 125.879 36.3789C127.767 34.1654 129.59 32.0169 131.348 29.9336C131.738 30.0638 132.031 30.0638 132.227 29.9336C132.487 29.7383 132.715 29.5104 132.91 29.25C133.105 28.9245 133.301 28.6315 133.496 28.3711C133.757 28.1107 134.049 27.9479 134.375 27.8828C134.831 26.9062 135.482 26.1901 136.328 25.7344C137.24 25.2135 137.956 24.4974 138.477 23.5859C139.062 23.4557 139.551 23.2604 139.941 23C140.332 22.7396 140.69 22.4466 141.016 22.1211C141.406 21.7956 141.797 21.5026 142.188 21.2422C142.578 20.9167 143.034 20.6888 143.555 20.5586V19.4844C144.727 18.9635 145.573 18.3776 146.094 17.7266C146.68 17.0104 147.363 16.1641 148.145 15.1875C148.73 15.1224 149.186 15.0898 149.512 15.0898C149.902 15.0898 150.456 15.0247 151.172 14.8945C151.693 13.9831 152.148 13.2995 152.539 12.8438C152.995 12.388 153.646 11.8997 154.492 11.3789C155.273 11.7695 156.12 12.0299 157.031 12.1602C158.008 12.2904 158.854 12.7135 159.57 13.4297C159.635 14.0807 159.831 14.6016 160.156 14.9922C160.482 15.3177 160.84 15.6432 161.23 15.9688C161.621 16.2292 161.979 16.5221 162.305 16.8477C162.695 17.1732 162.956 17.6289 163.086 18.2148C163.346 18.2799 163.509 18.2474 163.574 18.1172C163.704 17.987 163.9 17.9544 164.16 18.0195C164.355 18.931 164.583 19.5495 164.844 19.875C165.104 20.1354 165.365 20.6888 165.625 21.5352C165.299 22.1862 165.039 22.8698 164.844 23.5859C164.714 24.237 164.323 24.7253 163.672 25.0508C163.607 25.5065 163.737 25.7669 164.062 25.832C164.388 25.832 164.583 25.9948 164.648 26.3203C164.714 26.9062 164.616 27.3294 164.355 27.5898C165.918 30.1289 167.318 32.8307 168.555 35.6953C169.792 38.4948 171.191 41.1641 172.754 43.7031ZM160.547 52.9805C160.807 52.2643 161.133 51.6784 161.523 51.2227C161.979 50.7669 162.24 50.0833 162.305 49.1719C161.979 48.651 161.784 48.2604 161.719 48C161.654 47.6745 161.621 47.1862 161.621 46.5352C160.189 44.5169 158.952 42.3685 157.91 40.0898C156.868 37.7461 155.697 35.5651 154.395 33.5469C154.264 33.8073 154.036 34.0677 153.711 34.3281C153.385 34.5885 153.027 34.5234 152.637 34.1328C152.507 34.6536 152.279 35.0443 151.953 35.3047C151.628 35.5 151.27 35.5977 150.879 35.5977C150.488 35.5326 150.065 35.4349 149.609 35.3047C149.219 35.1094 148.861 34.8815 148.535 34.6211C146.647 36.1185 144.759 37.5833 142.871 39.0156C140.983 40.4479 139.29 42.1081 137.793 43.9961C137.533 44.1263 137.37 44.1914 137.305 44.1914C137.24 44.1263 137.044 44.1589 136.719 44.2891C136.198 45.526 135.547 46.6654 134.766 47.707C134.049 48.6836 133.333 49.6927 132.617 50.7344C131.901 51.776 131.283 52.8828 130.762 54.0547C130.241 55.2266 129.948 56.5938 129.883 58.1562C130.99 59.0677 132.292 59.6211 133.789 59.8164C135.286 60.0117 136.816 60.0443 138.379 59.9141C140.007 59.7839 141.569 59.5885 143.066 59.3281C144.629 59.0026 146.061 58.8398 147.363 58.8398C150.098 58.1888 152.441 57.3424 154.395 56.3008C156.348 55.194 158.398 54.0872 160.547 52.9805Z" fill="black"/>
            <path d="M213.574 12.4531C216.309 12.7786 218.75 13.332 220.898 14.1133C223.047 14.8945 224.87 15.9362 226.367 17.2383C227.409 18.8659 228.385 20.6237 229.297 22.5117C230.273 24.3997 230.99 26.3854 231.445 28.4688C231.966 30.487 232.194 32.5703 232.129 34.7188C232.129 36.8672 231.673 39.0482 230.762 41.2617C228.874 43.6055 226.562 45.526 223.828 47.0234C221.159 48.4557 218.262 49.6276 215.137 50.5391C212.012 51.4505 208.757 52.2318 205.371 52.8828C202.051 53.5339 198.796 54.1849 195.605 54.8359C195.671 56.3333 195.671 57.9284 195.605 59.6211C195.605 61.2487 195.443 62.9089 195.117 64.6016C194.857 66.2292 194.434 67.8242 193.848 69.3867C193.262 70.9492 192.48 72.3815 191.504 73.6836C190.397 73.6836 189.258 73.8138 188.086 74.0742C186.914 74.3997 185.872 74.6602 184.961 74.8555C184.505 74.5951 184.082 74.3346 183.691 74.0742C183.366 73.8789 182.878 73.7487 182.227 73.6836C182.357 73.0326 182.194 72.3815 181.738 71.7305C181.283 71.0143 180.827 70.2982 180.371 69.582C179.915 68.8659 179.59 68.1823 179.395 67.5312C179.264 66.8802 179.59 66.2617 180.371 65.6758C179.915 65.2201 179.688 64.6341 179.688 63.918C180.143 63.1367 180.534 62.0625 180.859 60.6953C181.25 59.3281 181.543 57.9935 181.738 56.6914C181.999 55.3242 182.064 54.0872 181.934 52.9805C181.803 51.8737 181.152 51.0599 179.98 50.5391C180.046 50.4089 180.176 50.3438 180.371 50.3438C180.566 50.3438 180.762 50.3112 180.957 50.2461C180.436 49.8555 180.111 49.3021 179.98 48.5859C179.915 47.8698 179.688 47.2513 179.297 46.7305C179.427 46.4049 179.525 46.112 179.59 45.8516C179.655 45.5911 179.883 45.4935 180.273 45.5586C180.078 44.3867 180.078 43.2799 180.273 42.2383C180.534 41.1966 180.892 40.2201 181.348 39.3086C181.803 38.332 182.357 37.388 183.008 36.4766C183.659 35.5651 184.277 34.6536 184.863 33.7422C185.319 33.6771 185.579 33.7422 185.645 33.9375C185.775 34.1328 186.003 34.1003 186.328 33.8398C187.174 33.1888 187.76 32.5052 188.086 31.7891C188.411 31.0729 188.574 30.2591 188.574 29.3477C189.03 27.9805 189.583 26.6133 190.234 25.2461C190.885 23.8138 191.602 22.5117 192.383 21.3398C193.164 20.168 194.01 19.1263 194.922 18.2148C195.898 17.3034 196.908 16.6198 197.949 16.1641C198.73 15.513 199.707 14.9271 200.879 14.4062C202.051 13.8203 203.32 13.3971 204.688 13.1367C206.055 12.8112 207.422 12.6484 208.789 12.6484C210.221 12.5833 211.523 12.7135 212.695 13.0391C213.021 13.1693 213.184 13.1042 213.184 12.8438C213.249 12.5833 213.379 12.4531 213.574 12.4531ZM209.57 35.793C211.198 35.0768 212.923 34.5234 214.746 34.1328C216.634 33.6771 218.197 32.8633 219.434 31.6914C218.652 30.9753 217.513 30.3568 216.016 29.8359C214.518 29.25 212.891 28.8919 211.133 28.7617C209.375 28.6315 207.585 28.7943 205.762 29.25C204.004 29.6406 202.474 30.4219 201.172 31.5938C200.781 32.7656 200.456 33.7096 200.195 34.4258C199.935 35.0768 199.577 35.8906 199.121 36.8672C199.251 37.1927 199.447 37.4531 199.707 37.6484C200.033 37.7786 200.26 38.0065 200.391 38.332C201.888 37.5508 203.385 37.1276 204.883 37.0625C206.445 36.9323 208.008 36.5091 209.57 35.793Z" fill="black"/>
            <path d="M283.887 63.8203C283.236 64.3411 282.845 65.0247 282.715 65.8711C282.585 66.6523 282.422 67.4336 282.227 68.2148C282.031 68.9961 281.673 69.6797 281.152 70.2656C280.697 70.7865 279.85 71.0143 278.613 70.9492C278.353 71.2747 278.288 71.4701 278.418 71.5352C278.613 71.6003 278.776 71.8932 278.906 72.4141C277.995 72.2839 277.344 72.349 276.953 72.6094C276.562 72.8698 276.074 73.0651 275.488 73.1953C273.991 72.7396 272.721 71.9258 271.68 70.7539C270.703 69.5169 269.824 68.1823 269.043 66.75C268.327 65.3177 267.676 63.8529 267.09 62.3555C266.569 60.8581 266.016 59.556 265.43 58.4492C265.43 58.1888 265.56 58.0911 265.82 58.1562C266.016 58.1562 266.211 58.1562 266.406 58.1562C266.081 57.5052 265.853 56.7891 265.723 56.0078C265.527 55.1615 265.202 54.4779 264.746 53.957C266.634 49.9206 268.652 45.7214 270.801 41.3594C272.949 36.9323 275.098 32.4727 277.246 27.9805C279.46 23.4232 281.641 18.8659 283.789 14.3086C286.003 9.6862 288.118 5.16146 290.137 0.734375C291.96 1.38542 293.717 2.16667 295.41 3.07812C297.168 3.92448 298.763 4.93359 300.195 6.10547C301.628 7.27734 302.832 8.64453 303.809 10.207C304.85 11.7044 305.534 13.4297 305.859 15.3828C305.729 15.7734 305.566 15.9036 305.371 15.7734C305.176 15.6432 305.013 15.7083 304.883 15.9688C305.208 16.3594 305.371 16.6523 305.371 16.8477C305.436 16.9779 305.436 17.1406 305.371 17.3359C305.306 17.4661 305.273 17.6615 305.273 17.9219C305.273 18.1823 305.436 18.5404 305.762 18.9961C305.436 18.931 305.208 18.9961 305.078 19.1914C304.948 19.3216 304.72 19.3216 304.395 19.1914C304.72 20.1029 304.818 20.819 304.688 21.3398C304.557 21.8607 304.362 22.349 304.102 22.8047C303.841 23.1953 303.613 23.651 303.418 24.1719C303.288 24.6276 303.353 25.2786 303.613 26.125C303.353 26.125 303.158 26.1901 303.027 26.3203C302.962 26.3854 302.897 26.4831 302.832 26.6133C302.767 26.7435 302.669 26.8737 302.539 27.0039C302.474 27.069 302.311 27.069 302.051 27.0039C302.246 28.6966 302.311 30.4219 302.246 32.1797C302.181 33.8724 302.116 35.6302 302.051 37.4531C301.986 39.2109 301.986 41.0339 302.051 42.9219C302.116 44.8099 302.376 46.763 302.832 48.7812C305.632 47.1536 307.878 45.0378 309.57 42.4336C311.328 39.8294 312.695 36.9323 313.672 33.7422C314.714 30.5521 315.495 27.1341 316.016 23.4883C316.602 19.8424 317.188 16.1315 317.773 12.3555C318.49 11.6393 319.043 10.7604 319.434 9.71875C319.889 8.67708 320.247 7.60286 320.508 6.49609C320.833 5.38932 321.126 4.28255 321.387 3.17578C321.712 2.00391 322.135 0.96224 322.656 0.0507812C323.828 0.18099 324.805 0.539062 325.586 1.125C326.432 1.64583 327.214 2.26432 327.93 2.98047C328.646 3.63151 329.395 4.25 330.176 4.83594C330.957 5.42188 331.934 5.8125 333.105 6.00781C334.017 7.3099 334.863 8.57943 335.645 9.81641C336.426 10.9883 336.947 12.3229 337.207 13.8203C336.816 14.4714 336.523 15.1875 336.328 15.9688C336.133 16.75 335.905 17.5312 335.645 18.3125C335.449 19.0938 335.156 19.8099 334.766 20.4609C334.375 21.112 333.822 21.6654 333.105 22.1211C332.91 24.0742 332.617 25.8971 332.227 27.5898C331.836 29.2826 331.478 30.9427 331.152 32.5703C330.827 34.1979 330.534 35.8906 330.273 37.6484C330.013 39.4062 329.915 41.3268 329.98 43.4102C329.395 45.2982 328.743 47.2513 328.027 49.2695C327.311 51.2227 326.79 53.0456 326.465 54.7383C325.228 55.7148 324.251 56.9193 323.535 58.3516C322.819 59.7839 322.07 61.2161 321.289 62.6484C320.964 62.9089 320.768 62.974 320.703 62.8438C320.638 62.6484 320.345 62.5182 319.824 62.4531C319.889 63.0391 319.759 63.4297 319.434 63.625C319.173 63.7552 319.206 64.2109 319.531 64.9922C318.424 65.513 317.448 66.1966 316.602 67.043C315.755 67.8893 314.811 68.6706 313.77 69.3867C312.793 70.1029 311.621 70.5911 310.254 70.8516C308.952 71.0469 307.227 70.7539 305.078 69.9727C301.888 67.6289 299.023 64.9271 296.484 61.8672C293.945 58.8073 291.927 55.194 290.43 51.0273C289.779 51.2227 289.29 51.6458 288.965 52.2969C288.639 52.9479 288.346 53.6315 288.086 54.3477C287.826 55.0638 287.565 55.7148 287.305 56.3008C287.044 56.8867 286.654 57.1797 286.133 57.1797C286.003 57.7656 285.742 58.319 285.352 58.8398C285.026 59.2956 284.701 59.7839 284.375 60.3047C284.049 60.7604 283.789 61.2812 283.594 61.8672C283.464 62.4531 283.561 63.1042 283.887 63.8203Z" fill="black"/>
            <path d="M389.16 18.0195C389.225 18.4753 389.225 18.8333 389.16 19.0938C389.16 19.2891 389.128 19.4844 389.062 19.6797C389.062 19.875 389.062 20.1029 389.062 20.3633C389.062 20.5586 389.128 20.8841 389.258 21.3398C387.891 23.5534 386.296 25.0833 384.473 25.9297C382.715 26.7109 380.794 27.2969 378.711 27.6875C376.628 28.013 374.479 28.3711 372.266 28.7617C370.117 29.1523 367.969 29.9987 365.82 31.3008C364.974 30.9753 364.193 30.9753 363.477 31.3008C362.826 31.6263 361.849 31.724 360.547 31.5938C360.156 31.9844 359.668 32.2773 359.082 32.4727C358.496 32.6029 357.91 32.7656 357.324 32.9609C357.585 33.5469 357.682 34.1654 357.617 34.8164C357.617 35.4023 357.715 35.8906 357.91 36.2812C360.189 36.4766 362.695 36.444 365.43 36.1836C368.229 35.9232 370.964 35.7604 373.633 35.6953C373.698 36.0208 373.665 36.2487 373.535 36.3789C373.405 36.444 373.372 36.6068 373.438 36.8672C373.893 37.1927 374.349 37.6159 374.805 38.1367C375.26 38.5924 375.716 39.0482 376.172 39.5039C376.628 39.9596 377.083 40.3503 377.539 40.6758C378.06 40.9362 378.646 41.0339 379.297 40.9688C379.557 41.4896 379.72 42.0755 379.785 42.7266C379.915 43.3125 379.85 43.931 379.59 44.582C378.548 45.2982 377.507 46.0469 376.465 46.8281C375.423 47.5443 374.316 48.1953 373.145 48.7812C372.038 49.3672 370.833 49.8555 369.531 50.2461C368.294 50.5716 366.895 50.7018 365.332 50.6367C365.007 50.6367 364.746 50.6367 364.551 50.6367C364.421 50.6367 364.225 50.5391 363.965 50.3438C363.444 50.6693 362.695 50.7669 361.719 50.6367C360.807 50.5065 360.091 50.6042 359.57 50.9297C358.854 50.6042 357.975 50.474 356.934 50.5391C355.957 50.5391 355.078 50.4089 354.297 50.1484C353.255 51.5156 352.311 52.9805 351.465 54.543C350.618 56.1055 349.87 57.7656 349.219 59.5234C351.432 59.849 353.255 59.9792 354.688 59.9141C356.185 59.849 357.585 59.7513 358.887 59.6211C360.189 59.4258 361.523 59.263 362.891 59.1328C364.258 58.9375 365.983 58.8724 368.066 58.9375C369.368 58.2214 370.898 57.7656 372.656 57.5703C374.479 57.3099 376.139 56.9193 377.637 56.3984C378.158 56.5938 378.613 56.9518 379.004 57.4727C379.395 57.9284 379.753 58.3841 380.078 58.8398C380.469 59.2305 380.859 59.5885 381.25 59.9141C381.641 60.2396 382.129 60.3698 382.715 60.3047C382.975 60.5651 383.138 60.8906 383.203 61.2812C383.333 61.6068 383.431 61.9323 383.496 62.2578C383.561 62.5833 383.659 62.8763 383.789 63.1367C383.984 63.332 384.277 63.3971 384.668 63.332C383.691 65.4805 382.552 67.1406 381.25 68.3125C380.013 69.4193 378.581 70.2656 376.953 70.8516C375.326 71.4375 373.503 71.8932 371.484 72.2188C369.531 72.5443 367.35 72.9349 364.941 73.3906C364.355 73.5208 363.867 73.4883 363.477 73.293C363.086 73.1628 362.63 73.0977 362.109 73.0977C360.612 73.4232 358.822 73.7161 356.738 73.9766C354.655 74.237 352.539 74.3346 350.391 74.2695C348.242 74.2044 346.191 73.9115 344.238 73.3906C342.285 72.9349 340.69 72.0885 339.453 70.8516C338.932 70.3958 338.574 69.875 338.379 69.2891C338.249 68.638 337.826 68.1497 337.109 67.8242C337.044 66.9779 336.914 66.0339 336.719 64.9922C336.523 63.9505 336.328 62.8763 336.133 61.7695C335.938 60.5977 335.775 59.4583 335.645 58.3516C335.579 57.2448 335.645 56.2357 335.84 55.3242C336.035 54.3477 336.426 53.4688 337.012 52.6875C337.663 51.9062 337.891 51.0599 337.695 50.1484C338.021 50.0833 338.216 49.9206 338.281 49.6602C338.346 49.3346 338.607 49.2044 339.062 49.2695C339.453 48.0977 339.876 46.9909 340.332 45.9492C340.788 44.9076 341.243 43.8984 341.699 42.9219C342.22 41.9453 342.708 40.9688 343.164 39.9922C343.685 38.9505 344.173 37.8112 344.629 36.5742C343.717 35.7279 343.034 34.8164 342.578 33.8398C342.188 32.7982 341.895 31.7891 341.699 30.8125C341.504 29.7708 341.341 28.7292 341.211 27.6875C341.081 26.5807 340.853 25.474 340.527 24.3672C341.178 23.3906 341.96 22.6094 342.871 22.0234C343.848 21.3724 344.889 20.8516 345.996 20.4609C347.103 20.0703 348.307 19.7448 349.609 19.4844C350.911 19.224 352.279 18.931 353.711 18.6055C356.315 17.7591 358.626 17.1081 360.645 16.6523C362.728 16.1966 364.746 15.8385 366.699 15.5781C368.717 15.2526 370.801 14.9596 372.949 14.6992C375.098 14.4388 377.539 14.0482 380.273 13.5273C380.859 14.1133 381.413 14.4062 381.934 14.4062C382.194 13.8203 382.487 13.6576 382.812 13.918C383.203 14.1133 383.366 13.918 383.301 13.332C383.952 14.4388 384.766 15.3828 385.742 16.1641C386.784 16.8802 387.923 17.4987 389.16 18.0195Z" fill="black"/>
            <path d="M420.703 70.4609C419.727 67.2057 418.294 64.0807 416.406 61.0859C414.583 58.0911 412.826 55.5195 411.133 53.3711C408.464 55.3893 405.924 57.6354 403.516 60.1094C401.172 62.5182 399.023 65.1224 397.07 67.9219C396.94 69.2891 396.777 70.4284 396.582 71.3398C396.387 72.1862 396.029 72.9023 395.508 73.4883C395.052 74.0742 394.434 74.5625 393.652 74.9531C392.936 75.4089 391.992 75.8646 390.82 76.3203C388.672 74.7578 387.109 72.8372 386.133 70.5586C385.156 68.2148 385.026 65.9036 385.742 63.625C385.807 61.9974 386.198 60.4023 386.914 58.8398C387.695 57.2773 388.607 55.8125 389.648 54.4453C390.755 53.013 391.927 51.6784 393.164 50.4414C394.401 49.1393 395.573 47.9349 396.68 46.8281C396.875 46.1771 397.233 45.6237 397.754 45.168C398.34 44.6471 398.926 44.1589 399.512 43.7031C400.163 43.2474 400.781 42.7591 401.367 42.2383C402.018 41.7174 402.539 41.099 402.93 40.3828C402.474 38.8854 401.595 37.388 400.293 35.8906C398.991 34.3281 397.786 32.7331 396.68 31.1055C396.549 30.7799 396.289 30.6823 395.898 30.8125C395.573 30.9427 395.345 30.9102 395.215 30.7148C395.345 29.8685 395.15 28.957 394.629 27.9805C394.173 27.0039 393.587 26.1576 392.871 25.4414C393.066 24.7253 393.294 23.8789 393.555 22.9023C393.815 21.8607 393.75 20.7214 393.359 19.4844C393.359 18.9635 393.457 18.4753 393.652 18.0195C393.848 17.4987 394.043 17.043 394.238 16.6523C394.434 16.1966 394.596 15.7734 394.727 15.3828C394.857 14.9271 394.824 14.5039 394.629 14.1133C395.475 13.9831 396.224 14.0156 396.875 14.2109C397.526 14.4062 398.145 14.6341 398.73 14.8945C399.316 15.1549 399.837 15.3503 400.293 15.4805C400.814 15.6107 401.335 15.5781 401.855 15.3828C401.79 15.7083 401.79 15.9362 401.855 16.0664C401.921 16.1966 402.018 16.2943 402.148 16.3594C402.279 16.4245 402.409 16.5221 402.539 16.6523C402.669 16.7174 402.734 16.8477 402.734 17.043C403.776 17.3685 404.915 18.0846 406.152 19.1914C407.389 20.2331 408.561 21.4049 409.668 22.707C410.84 24.0091 411.882 25.3112 412.793 26.6133C413.704 27.9154 414.388 28.8919 414.844 29.543C416.406 28.5664 418.099 27.4271 419.922 26.125C421.745 24.7578 423.633 23.3581 425.586 21.9258C427.539 20.4935 429.492 19.1589 431.445 17.9219C433.464 16.6198 435.417 15.5781 437.305 14.7969C438.411 15.3177 439.258 15.9688 439.844 16.75C440.495 17.4661 441.016 18.2474 441.406 19.0938C441.862 19.875 442.253 20.7214 442.578 21.6328C442.904 22.4792 443.359 23.2279 443.945 23.8789C443.424 24.9857 442.839 25.9297 442.188 26.7109C441.602 27.4271 441.178 28.2734 440.918 29.25C439.551 29.8359 437.923 30.7148 436.035 31.8867C434.342 32.9284 432.259 34.3281 429.785 36.0859C427.376 37.8438 424.447 40.1875 420.996 43.1172C421.777 44.0286 422.428 44.9076 422.949 45.7539C423.47 46.6003 423.893 47.3164 424.219 47.9023C424.544 48.6185 424.837 49.2695 425.098 49.8555C425.684 50.3112 426.172 50.832 426.562 51.418C426.953 52.0039 427.311 52.6224 427.637 53.2734C428.027 53.8594 428.451 54.4453 428.906 55.0312C429.362 55.5521 429.948 55.9753 430.664 56.3008C431.055 58.2539 431.608 60.0117 432.324 61.5742C433.04 63.0716 433.366 64.6341 433.301 66.2617C432.845 67.7591 432.161 68.9961 431.25 69.9727C430.404 70.9492 429.785 71.9583 429.395 73C428.809 73.1953 428.223 73.3906 427.637 73.5859C427.051 73.7812 426.595 74.0742 426.27 74.4648L420.703 70.4609Z" fill="black"/>
            <path d="M493.066 26.0273C491.439 26.0273 489.681 26.1576 487.793 26.418C485.905 26.6133 484.049 26.8411 482.227 27.1016C480.924 27.2969 479.655 27.4596 478.418 27.5898C477.246 27.7201 476.172 27.8177 475.195 27.8828C474.74 29.3151 474.284 30.5846 473.828 31.6914C473.372 32.7982 472.884 33.8724 472.363 34.9141C471.842 36.0208 471.354 37.1602 470.898 38.332C470.508 39.4388 470.117 40.6432 469.727 41.9453C469.076 42.987 468.522 43.9635 468.066 44.875C467.676 45.7214 467.35 46.6979 467.09 47.8047C466.309 48.7812 465.723 49.8229 465.332 50.9297C464.941 51.9714 464.648 52.8828 464.453 53.6641L464.062 54.8359C463.672 55.2266 463.444 55.5521 463.379 55.8125C463.314 56.0078 463.151 56.2031 462.891 56.3984C462.826 57.1146 462.598 57.8307 462.207 58.5469C462.077 58.8724 461.979 59.1979 461.914 59.5234C461.849 59.7839 461.816 59.9792 461.816 60.1094C461.816 60.7604 461.654 61.1836 461.328 61.3789C461.393 61.7044 461.393 62.0625 461.328 62.4531C461.263 62.7786 461.198 63.1042 461.133 63.4297C460.938 64.2109 460.872 64.8294 460.938 65.2852C461.133 65.5456 461.296 65.7734 461.426 65.9688C461.621 66.1641 461.751 66.4245 461.816 66.75C462.207 67.0104 462.5 67.1732 462.695 67.2383C462.956 67.4336 463.346 67.6615 463.867 67.9219L464.746 68.8984C465.072 70.7865 464.779 72.2839 463.867 73.3906C462.891 74.6276 461.23 75.2461 458.887 75.2461H457.715C457.389 74.9206 457.194 74.6602 457.129 74.4648C456.608 74.2695 456.185 74.1068 455.859 73.9766C455.534 73.8464 455.241 73.5859 454.98 73.1953C454.134 72.8047 453.451 72.4792 452.93 72.2188L452.051 71.7305C452.051 71.0143 452.051 70.6237 452.051 70.5586C451.595 69.9727 451.237 69.3216 450.977 68.6055C450.781 67.8893 450.618 67.1732 450.488 66.457C450.358 65.8711 450.195 65.3177 450 64.7969C449.87 64.276 449.674 63.8203 449.414 63.4297C449.284 59.6536 449.642 56.4635 450.488 53.8594C451.335 51.2552 452.214 48.7487 453.125 46.3398C453.646 45.0378 454.167 43.7357 454.688 42.4336C455.208 41.0664 455.664 39.6667 456.055 38.2344L456.934 37.2578C457.389 36.2161 457.747 35.3698 458.008 34.7188C458.333 34.0026 458.659 33.2865 458.984 32.5703C459.18 32.1146 459.342 31.6914 459.473 31.3008C459.668 30.8451 459.831 30.4544 459.961 30.1289C459.57 30.1289 459.212 30.1615 458.887 30.2266C458.561 30.2266 458.236 30.2591 457.91 30.3242C457.52 30.3893 457.161 30.4544 456.836 30.5195C456.51 30.5195 456.185 30.5195 455.859 30.5195C455.404 30.5195 455.078 30.487 454.883 30.4219C454.167 30.7474 453.385 30.9102 452.539 30.9102H451.562C451.367 30.9102 451.172 30.9102 450.977 30.9102C450.846 30.8451 450.716 30.8125 450.586 30.8125C449.935 30.8125 449.414 30.9102 449.023 31.1055C448.242 31.1055 447.493 31.1055 446.777 31.1055H445.801C445.671 31.1055 445.508 31.138 445.312 31.2031C445.117 31.2031 444.954 31.2031 444.824 31.2031C444.368 31.2031 443.88 31.1706 443.359 31.1055C442.839 30.9753 442.285 30.7474 441.699 30.4219C440.918 29.3802 440.397 28.8268 440.137 28.7617L439.258 27.5898C439.193 27.1992 439.095 26.8411 438.965 26.5156C438.835 26.125 438.704 25.7018 438.574 25.2461C438.314 24.5951 438.053 23.9115 437.793 23.1953C437.598 22.4141 437.5 21.5026 437.5 20.4609C437.565 19.9401 437.695 19.5495 437.891 19.2891C438.086 19.0286 438.249 18.8008 438.379 18.6055L438.672 17.1406L439.941 17.2383H442.676C444.759 17.2383 446.875 17.1732 449.023 17.043C451.172 16.8477 453.385 16.6523 455.664 16.457C456.966 16.3268 458.268 16.1966 459.57 16.0664C460.938 15.9362 462.337 15.806 463.77 15.6758C464.03 15.0898 464.29 14.5365 464.551 14.0156L465.527 13.5273C466.699 13.4622 467.513 13.625 467.969 14.0156C468.49 14.3411 468.913 14.6667 469.238 14.9922C470.671 14.862 472.103 14.7318 473.535 14.6016C475.033 14.4062 476.53 14.1784 478.027 13.918C480.241 13.5924 482.454 13.2995 484.668 13.0391C486.947 12.7786 489.128 12.6484 491.211 12.6484C492.122 12.6484 493.001 12.681 493.848 12.7461C494.694 12.8112 495.475 12.9089 496.191 13.0391L497.168 13.7227C497.363 14.1133 497.624 14.4714 497.949 14.7969C498.34 15.1224 498.73 15.4479 499.121 15.7734C499.902 16.4896 500.684 17.3359 501.465 18.3125C502.246 19.2891 502.539 20.7214 502.344 22.6094C501.823 23.3906 501.432 23.8464 501.172 23.9766L500.293 25.1484L499.316 25.0508C498.926 25.0508 498.568 25.1159 498.242 25.2461C497.917 25.3112 497.591 25.4089 497.266 25.5391C497.005 25.6693 496.745 25.7995 496.484 25.9297C496.224 25.9948 495.931 26.0599 495.605 26.125C495.02 26.125 494.531 26.125 494.141 26.125C493.815 26.0599 493.457 26.0273 493.066 26.0273Z" fill="black"/>
            <path d="M532.031 74.0742C530.143 73.6185 528.678 72.8698 527.637 71.8281C526.66 70.7214 525.911 69.4518 525.391 68.0195C524.935 66.5221 524.609 64.8945 524.414 63.1367C524.284 61.3789 524.121 59.556 523.926 57.668C524.186 56.8216 524.512 56.1055 524.902 55.5195C525.358 54.9336 525.553 54.1198 525.488 53.0781C526.204 50.9948 526.855 48.9766 527.441 47.0234C528.027 45.0703 528.418 43.0521 528.613 40.9688C529.004 40.3828 529.395 39.9922 529.785 39.7969C530.306 36.0859 530.371 32.2773 529.98 28.3711C529.59 24.4648 528.939 20.8516 528.027 17.5312C528.092 16.8151 528.19 16.2943 528.32 15.9688C528.451 15.5781 528.451 15.2526 528.32 14.9922C528.19 14.4062 528.385 14.1133 528.906 14.1133C529.427 14.1133 529.948 14.1133 530.469 14.1133C530.469 12.9414 530.241 11.8021 529.785 10.6953C529.395 9.52344 529.004 8.1888 528.613 6.69141C529.134 5.51953 529.492 4.38021 529.688 3.27344C529.883 2.16667 530.241 1.15755 530.762 0.246094C532.845 0.897135 534.896 1.64583 536.914 2.49219C538.932 3.33854 540.918 4.1849 542.871 5.03125C544.824 5.8125 546.745 6.59375 548.633 7.375C550.521 8.09115 552.376 8.67708 554.199 9.13281C556.999 11.151 559.863 13.1693 562.793 15.1875C565.788 17.1406 568.49 19.3216 570.898 21.7305C573.372 24.0742 575.423 26.776 577.051 29.8359C578.678 32.8958 579.622 36.5091 579.883 40.6758C579.753 41.0664 579.655 41.3919 579.59 41.6523C579.525 41.9128 579.46 42.1732 579.395 42.4336C579.329 42.694 579.297 42.987 579.297 43.3125C579.297 43.638 579.297 44.0938 579.297 44.6797C576.953 48.7812 573.991 52.2318 570.41 55.0312C566.829 57.8307 562.923 60.3047 558.691 62.4531C554.46 64.6016 550.033 66.5872 545.41 68.4102C540.853 70.168 536.393 72.056 532.031 74.0742ZM541.602 18.7031C541.016 18.7031 540.592 18.8333 540.332 19.0938C541.113 22.0234 541.699 24.7904 542.09 27.3945C542.48 29.9987 542.676 32.6029 542.676 35.207C542.741 37.8112 542.611 40.4805 542.285 43.2148C541.96 45.9492 541.504 48.9115 540.918 52.1016C541.764 52.0365 542.513 51.8737 543.164 51.6133C543.815 51.3529 544.466 51.0599 545.117 50.7344C545.833 50.4089 546.549 50.1159 547.266 49.8555C548.047 49.5951 548.926 49.4323 549.902 49.3672C550.163 48.8464 550.488 48.4557 550.879 48.1953C551.335 47.8698 551.725 47.5443 552.051 47.2188C553.678 46.5677 555.306 45.8841 556.934 45.168C558.561 44.4518 560.059 43.638 561.426 42.7266C562.793 41.8151 564.03 40.7734 565.137 39.6016C566.243 38.4297 567.155 37.0299 567.871 35.4023C567.35 34.4258 566.699 33.612 565.918 32.9609C565.202 32.2448 564.421 31.5612 563.574 30.9102C562.793 30.194 562.012 29.4779 561.23 28.7617C560.514 27.9805 559.928 27.1016 559.473 26.125C558.431 25.9948 557.52 25.7344 556.738 25.3438C555.957 24.888 555.208 24.4648 554.492 24.0742C553.776 23.6185 552.995 23.1953 552.148 22.8047C551.367 22.4141 550.423 22.1862 549.316 22.1211C547.624 21.2096 546.094 20.5911 544.727 20.2656C543.359 19.875 542.318 19.3542 541.602 18.7031Z" fill="black"/>
            <path d="M638.281 43.7031C638.216 44.4844 638.281 45.2331 638.477 45.9492C638.672 46.6654 638.9 47.3815 639.16 48.0977C639.486 48.7487 639.779 49.4323 640.039 50.1484C640.299 50.8646 640.495 51.5807 640.625 52.2969C640.755 53.2083 640.755 54.2174 640.625 55.3242C640.495 56.3659 640.267 57.4076 639.941 58.4492C639.616 59.4258 639.193 60.3372 638.672 61.1836C638.151 61.9648 637.533 62.5508 636.816 62.9414C635.905 64.1133 634.798 65.0247 633.496 65.6758C632.194 66.3268 630.99 67.1081 629.883 68.0195C629.167 68.4753 628.353 68.8008 627.441 68.9961C626.595 69.1914 625.716 69.3867 624.805 69.582C624.089 69.9727 623.242 70.3958 622.266 70.8516C621.289 71.2422 620.28 71.6328 619.238 72.0234C618.197 72.349 617.155 72.6094 616.113 72.8047C615.072 72.9349 614.16 72.9674 613.379 72.9023C611.426 73.6185 609.505 74.0742 607.617 74.2695C605.794 74.5299 603.646 74.3997 601.172 73.8789C598.828 74.2044 596.647 74.1068 594.629 73.5859C592.676 73.0651 590.918 72.2513 589.355 71.1445C587.858 69.9727 586.523 68.6055 585.352 67.043C584.245 65.4154 583.333 63.7227 582.617 61.9648C582.096 58.2539 582.227 54.901 583.008 51.9062C583.789 48.8464 584.896 46.0469 586.328 43.5078C587.826 40.9036 589.518 38.5273 591.406 36.3789C593.294 34.1654 595.117 32.0169 596.875 29.9336C597.266 30.0638 597.559 30.0638 597.754 29.9336C598.014 29.7383 598.242 29.5104 598.438 29.25C598.633 28.9245 598.828 28.6315 599.023 28.3711C599.284 28.1107 599.577 27.9479 599.902 27.8828C600.358 26.9062 601.009 26.1901 601.855 25.7344C602.767 25.2135 603.483 24.4974 604.004 23.5859C604.59 23.4557 605.078 23.2604 605.469 23C605.859 22.7396 606.217 22.4466 606.543 22.1211C606.934 21.7956 607.324 21.5026 607.715 21.2422C608.105 20.9167 608.561 20.6888 609.082 20.5586V19.4844C610.254 18.9635 611.1 18.3776 611.621 17.7266C612.207 17.0104 612.891 16.1641 613.672 15.1875C614.258 15.1224 614.714 15.0898 615.039 15.0898C615.43 15.0898 615.983 15.0247 616.699 14.8945C617.22 13.9831 617.676 13.2995 618.066 12.8438C618.522 12.388 619.173 11.8997 620.02 11.3789C620.801 11.7695 621.647 12.0299 622.559 12.1602C623.535 12.2904 624.382 12.7135 625.098 13.4297C625.163 14.0807 625.358 14.6016 625.684 14.9922C626.009 15.3177 626.367 15.6432 626.758 15.9688C627.148 16.2292 627.507 16.5221 627.832 16.8477C628.223 17.1732 628.483 17.6289 628.613 18.2148C628.874 18.2799 629.036 18.2474 629.102 18.1172C629.232 17.987 629.427 17.9544 629.688 18.0195C629.883 18.931 630.111 19.5495 630.371 19.875C630.632 20.1354 630.892 20.6888 631.152 21.5352C630.827 22.1862 630.566 22.8698 630.371 23.5859C630.241 24.237 629.85 24.7253 629.199 25.0508C629.134 25.5065 629.264 25.7669 629.59 25.832C629.915 25.832 630.111 25.9948 630.176 26.3203C630.241 26.9062 630.143 27.3294 629.883 27.5898C631.445 30.1289 632.845 32.8307 634.082 35.6953C635.319 38.4948 636.719 41.1641 638.281 43.7031ZM626.074 52.9805C626.335 52.2643 626.66 51.6784 627.051 51.2227C627.507 50.7669 627.767 50.0833 627.832 49.1719C627.507 48.651 627.311 48.2604 627.246 48C627.181 47.6745 627.148 47.1862 627.148 46.5352C625.716 44.5169 624.479 42.3685 623.438 40.0898C622.396 37.7461 621.224 35.5651 619.922 33.5469C619.792 33.8073 619.564 34.0677 619.238 34.3281C618.913 34.5885 618.555 34.5234 618.164 34.1328C618.034 34.6536 617.806 35.0443 617.48 35.3047C617.155 35.5 616.797 35.5977 616.406 35.5977C616.016 35.5326 615.592 35.4349 615.137 35.3047C614.746 35.1094 614.388 34.8815 614.062 34.6211C612.174 36.1185 610.286 37.5833 608.398 39.0156C606.51 40.4479 604.818 42.1081 603.32 43.9961C603.06 44.1263 602.897 44.1914 602.832 44.1914C602.767 44.1263 602.572 44.1589 602.246 44.2891C601.725 45.526 601.074 46.6654 600.293 47.707C599.577 48.6836 598.861 49.6927 598.145 50.7344C597.428 51.776 596.81 52.8828 596.289 54.0547C595.768 55.2266 595.475 56.5938 595.41 58.1562C596.517 59.0677 597.819 59.6211 599.316 59.8164C600.814 60.0117 602.344 60.0443 603.906 59.9141C605.534 59.7839 607.096 59.5885 608.594 59.3281C610.156 59.0026 611.589 58.8398 612.891 58.8398C615.625 58.1888 617.969 57.3424 619.922 56.3008C621.875 55.194 623.926 54.0872 626.074 52.9805Z" fill="black"/>
            <path d="M701.172 43.7031C701.107 44.4844 701.172 45.2331 701.367 45.9492C701.562 46.6654 701.79 47.3815 702.051 48.0977C702.376 48.7487 702.669 49.4323 702.93 50.1484C703.19 50.8646 703.385 51.5807 703.516 52.2969C703.646 53.2083 703.646 54.2174 703.516 55.3242C703.385 56.3659 703.158 57.4076 702.832 58.4492C702.507 59.4258 702.083 60.3372 701.562 61.1836C701.042 61.9648 700.423 62.5508 699.707 62.9414C698.796 64.1133 697.689 65.0247 696.387 65.6758C695.085 66.3268 693.88 67.1081 692.773 68.0195C692.057 68.4753 691.243 68.8008 690.332 68.9961C689.486 69.1914 688.607 69.3867 687.695 69.582C686.979 69.9727 686.133 70.3958 685.156 70.8516C684.18 71.2422 683.171 71.6328 682.129 72.0234C681.087 72.349 680.046 72.6094 679.004 72.8047C677.962 72.9349 677.051 72.9674 676.27 72.9023C674.316 73.6185 672.396 74.0742 670.508 74.2695C668.685 74.5299 666.536 74.3997 664.062 73.8789C661.719 74.2044 659.538 74.1068 657.52 73.5859C655.566 73.0651 653.809 72.2513 652.246 71.1445C650.749 69.9727 649.414 68.6055 648.242 67.043C647.135 65.4154 646.224 63.7227 645.508 61.9648C644.987 58.2539 645.117 54.901 645.898 51.9062C646.68 48.8464 647.786 46.0469 649.219 43.5078C650.716 40.9036 652.409 38.5273 654.297 36.3789C656.185 34.1654 658.008 32.0169 659.766 29.9336C660.156 30.0638 660.449 30.0638 660.645 29.9336C660.905 29.7383 661.133 29.5104 661.328 29.25C661.523 28.9245 661.719 28.6315 661.914 28.3711C662.174 28.1107 662.467 27.9479 662.793 27.8828C663.249 26.9062 663.9 26.1901 664.746 25.7344C665.658 25.2135 666.374 24.4974 666.895 23.5859C667.48 23.4557 667.969 23.2604 668.359 23C668.75 22.7396 669.108 22.4466 669.434 22.1211C669.824 21.7956 670.215 21.5026 670.605 21.2422C670.996 20.9167 671.452 20.6888 671.973 20.5586V19.4844C673.145 18.9635 673.991 18.3776 674.512 17.7266C675.098 17.0104 675.781 16.1641 676.562 15.1875C677.148 15.1224 677.604 15.0898 677.93 15.0898C678.32 15.0898 678.874 15.0247 679.59 14.8945C680.111 13.9831 680.566 13.2995 680.957 12.8438C681.413 12.388 682.064 11.8997 682.91 11.3789C683.691 11.7695 684.538 12.0299 685.449 12.1602C686.426 12.2904 687.272 12.7135 687.988 13.4297C688.053 14.0807 688.249 14.6016 688.574 14.9922C688.9 15.3177 689.258 15.6432 689.648 15.9688C690.039 16.2292 690.397 16.5221 690.723 16.8477C691.113 17.1732 691.374 17.6289 691.504 18.2148C691.764 18.2799 691.927 18.2474 691.992 18.1172C692.122 17.987 692.318 17.9544 692.578 18.0195C692.773 18.931 693.001 19.5495 693.262 19.875C693.522 20.1354 693.783 20.6888 694.043 21.5352C693.717 22.1862 693.457 22.8698 693.262 23.5859C693.132 24.237 692.741 24.7253 692.09 25.0508C692.025 25.5065 692.155 25.7669 692.48 25.832C692.806 25.832 693.001 25.9948 693.066 26.3203C693.132 26.9062 693.034 27.3294 692.773 27.5898C694.336 30.1289 695.736 32.8307 696.973 35.6953C698.21 38.4948 699.609 41.1641 701.172 43.7031ZM688.965 52.9805C689.225 52.2643 689.551 51.6784 689.941 51.2227C690.397 50.7669 690.658 50.0833 690.723 49.1719C690.397 48.651 690.202 48.2604 690.137 48C690.072 47.6745 690.039 47.1862 690.039 46.5352C688.607 44.5169 687.37 42.3685 686.328 40.0898C685.286 37.7461 684.115 35.5651 682.812 33.5469C682.682 33.8073 682.454 34.0677 682.129 34.3281C681.803 34.5885 681.445 34.5234 681.055 34.1328C680.924 34.6536 680.697 35.0443 680.371 35.3047C680.046 35.5 679.688 35.5977 679.297 35.5977C678.906 35.5326 678.483 35.4349 678.027 35.3047C677.637 35.1094 677.279 34.8815 676.953 34.6211C675.065 36.1185 673.177 37.5833 671.289 39.0156C669.401 40.4479 667.708 42.1081 666.211 43.9961C665.951 44.1263 665.788 44.1914 665.723 44.1914C665.658 44.1263 665.462 44.1589 665.137 44.2891C664.616 45.526 663.965 46.6654 663.184 47.707C662.467 48.6836 661.751 49.6927 661.035 50.7344C660.319 51.776 659.701 52.8828 659.18 54.0547C658.659 55.2266 658.366 56.5938 658.301 58.1562C659.408 59.0677 660.71 59.6211 662.207 59.8164C663.704 60.0117 665.234 60.0443 666.797 59.9141C668.424 59.7839 669.987 59.5885 671.484 59.3281C673.047 59.0026 674.479 58.8398 675.781 58.8398C678.516 58.1888 680.859 57.3424 682.812 56.3008C684.766 55.194 686.816 54.0872 688.965 52.9805Z" fill="black"/>
            <path d="M722.852 62.8438C722.135 65.4479 721.484 67.4336 720.898 68.8008C720.378 70.1029 719.564 71.4701 718.457 72.9023C717.611 72.7721 717.025 72.8698 716.699 73.1953C716.374 73.5208 716.016 73.8138 715.625 74.0742C715.039 74.2044 714.616 74.2044 714.355 74.0742C714.095 73.944 713.867 73.7812 713.672 73.5859C713.477 73.4557 713.216 73.293 712.891 73.0977C712.63 72.9674 712.207 72.9023 711.621 72.9023C711.491 72.3815 711.328 71.8932 711.133 71.4375C711.003 70.9818 710.579 70.819 709.863 70.9492C709.993 70.4284 710.026 70.0052 709.961 69.6797C709.896 69.2891 709.798 68.9635 709.668 68.7031C709.603 68.3776 709.538 68.0846 709.473 67.8242C709.408 67.4987 709.44 67.1081 709.57 66.6523C709.245 66.6523 708.984 66.4245 708.789 65.9688C708.594 65.513 708.366 65.0573 708.105 64.6016C708.301 63.4297 708.496 62.3229 708.691 61.2812C708.887 60.2396 709.115 59.263 709.375 58.3516C709.701 57.4401 709.961 56.5286 710.156 55.6172C710.352 54.7057 710.254 53.7617 709.863 52.7852C710.124 52.9805 710.319 52.9479 710.449 52.6875C710.579 52.362 710.677 51.9714 710.742 51.5156C710.807 50.9948 710.84 50.5065 710.84 50.0508C710.84 49.5299 710.807 49.1068 710.742 48.7812C711.393 47.0885 711.914 45.3633 712.305 43.6055C712.76 41.7826 713.151 39.9922 713.477 38.2344C713.867 36.4766 714.258 34.7513 714.648 33.0586C715.039 31.3659 715.56 29.8034 716.211 28.3711C716.927 28.2409 717.708 28.3385 718.555 28.6641C719.466 28.9245 720.02 29.2826 720.215 29.7383C721.908 28.4362 723.405 26.8737 724.707 25.0508C726.009 23.1628 727.344 21.3398 728.711 19.582C730.078 17.8242 731.576 16.2617 733.203 14.8945C734.896 13.5273 737.012 12.7135 739.551 12.4531C740.853 13.4297 742.285 14.4388 743.848 15.4805C745.475 16.457 746.81 17.7591 747.852 19.3867C748.372 19.6471 748.796 19.9401 749.121 20.2656C749.512 20.526 749.967 20.819 750.488 21.1445V22.3164C751.27 23.0326 751.888 23.8789 752.344 24.8555C752.865 25.7669 753.32 26.776 753.711 27.8828C754.102 28.9245 754.492 29.9987 754.883 31.1055C755.273 32.1471 755.729 33.1562 756.25 34.1328C756.12 34.4583 756.055 34.7513 756.055 35.0117C756.055 35.207 756.087 35.4349 756.152 35.6953C756.283 35.9557 756.38 36.2161 756.445 36.4766C756.51 36.737 756.51 37.0951 756.445 37.5508C756.25 40.4154 755.306 42.7266 753.613 44.4844C751.986 46.2422 750 47.707 747.656 48.8789C745.312 49.9857 742.806 50.9297 740.137 51.7109C737.467 52.4922 735.059 53.3385 732.91 54.25C732.91 54.5104 733.008 54.6406 733.203 54.6406C733.464 54.6406 733.561 54.8034 733.496 55.1289C735.059 56.1055 736.296 56.8867 737.207 57.4727C738.118 58.0586 738.965 58.5469 739.746 58.9375C740.592 59.3281 741.471 59.6862 742.383 60.0117C743.359 60.2721 744.694 60.5977 746.387 60.9883C748.079 61.3789 749.382 61.7044 750.293 61.9648C751.27 62.1602 752.148 62.3555 752.93 62.5508C753.711 62.681 754.492 62.8112 755.273 62.9414C756.12 63.0065 757.292 63.1042 758.789 63.2344C759.375 63.8203 759.863 64.5365 760.254 65.3828C760.71 66.1641 761.003 66.9779 761.133 67.8242C761.263 68.6055 761.296 69.3867 761.23 70.168C761.165 70.8841 760.938 71.4701 760.547 71.9258C760.612 72.1211 760.742 72.2188 760.938 72.2188C761.198 72.1536 761.458 72.1536 761.719 72.2188C761.328 72.4792 761.003 72.8047 760.742 73.1953C760.482 73.5859 760.221 73.9766 759.961 74.3672C759.701 74.7578 759.408 75.0833 759.082 75.3438C758.757 75.6693 758.301 75.8646 757.715 75.9297C755.697 76.7109 753.158 76.7435 750.098 76.0273C747.038 75.3763 743.164 74.1393 738.477 72.3164C736.133 71.4049 734.212 70.6237 732.715 69.9727C731.283 69.2565 730.013 68.5729 728.906 67.9219C727.865 67.2057 726.888 66.457 725.977 65.6758C725.13 64.8945 724.089 63.9505 722.852 62.8438ZM736.816 29.3477C736.1 30.3893 735.286 31.3333 734.375 32.1797C733.529 33.026 732.682 33.9049 731.836 34.8164C731.055 35.6628 730.339 36.6393 729.688 37.7461C729.036 38.7878 728.581 40.0247 728.32 41.457C730.599 41.1966 732.975 40.5781 735.449 39.6016C737.923 38.5599 740.267 37.5833 742.48 36.6719C742.22 34.6536 741.504 33.026 740.332 31.7891C739.225 30.5521 738.053 29.7383 736.816 29.3477Z" fill="black"/>
        </svg>

    </a>
{% endblock header %}
